# An Exploration of Covid-19 in Malaysia

The following datasets will be used:
1. cases_malaysia.csv
2. cases_state.csv
3. clusters.csv
4. deaths_malaysia.csv
5. deaths_state.csv
6. hospital.csv
7. icu.csv
8. pkrc.csv
9. tests_malaysia.csv
10. tests_state.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
cases_malaysia = pd.read_csv('./cases/epidemic/cases_malaysia.csv')
cases_state = pd.read_csv('./cases/epidemic/cases_state.csv')
clusters = pd.read_csv('./cases/epidemic/clusters.csv')
deaths_malaysia = pd.read_csv('./cases/epidemic/deaths_malaysia.csv')
deaths_state = pd.read_csv('./cases/epidemic/deaths_state.csv')
hospital = pd.read_csv('./cases/epidemic/hospital.csv')
icu = pd.read_csv('./cases/epidemic/icu.csv')
pkrc = pd.read_csv('./cases/epidemic/pkrc.csv')
tests_malaysia = pd.read_csv('./cases/epidemic/tests_malaysia.csv')
tests_state = pd.read_csv('./cases/epidemic/tests_state.csv') 
vax_malaysia = pd.read_csv('./vaccination/vaccination/vax_malaysia.csv') 
vax_state = pd.read_csv('./vaccination/vaccination/vax_state.csv') 
vaxreg_malaysia = pd.read_csv('./vaccination/registration/vaxreg_malaysia.csv') 
vaxreg_state = pd.read_csv('./vaccination/registration/vaxreg_state.csv') 
population = pd.read_csv('./vaccination/static/population.csv')

## EDA and Pre-processing
1. Restructure dataset format by melting/pivot table
2. Deal with missing values and outliers (missing values will be dropped and outliers will be checked on case-by-case basis)

### Cases Malaysia

In [3]:
cases_malaysia

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0.0,0.0,0.0,1.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2021-10-05,8817,14,15615,135685,619.0,1062.0,5106.0,1386.0,686.0,5624.0,1007.0,0.0,0.0,199.0,30.0,10.0,3.0,377.0
620,2021-10-06,9380,13,13045,131981,426.0,1044.0,5338.0,1656.0,752.0,5877.0,1024.0,0.0,2.0,147.0,35.0,6.0,2.0,234.0
621,2021-10-07,9890,18,12884,128974,697.0,1147.0,5647.0,1731.0,766.0,6167.0,1164.0,0.0,0.0,240.0,111.0,41.0,5.0,300.0
622,2021-10-08,9751,15,12724,125999,382.0,1033.0,5687.0,1728.0,757.0,6033.0,1132.0,0.0,0.0,157.0,17.0,16.0,8.0,184.0
623,2021-10-09,8743,14,14422,120246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,271.0,105.0,42.0,0.0,203.0

In [4]:
cases_malaysia.isna().sum()

date                         0
cases_new                    0
cases_import                 0
cases_recovered              0
cases_active                 0
cases_cluster                1
cases_pvax                   1
cases_fvax                   1
cases_child                  1
cases_adolescent             1
cases_adult                  1
cases_elderly                1
cluster_import             342
cluster_religious          342
cluster_community          342
cluster_highRisk           342
cluster_education          342
cluster_detentionCentre    342
cluster_workplace          342
dtype: int64

In [5]:
cases_malaysia.drop_duplicates()

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly,cluster_import,cluster_religious,cluster_community,cluster_highRisk,cluster_education,cluster_detentionCentre,cluster_workplace
0,2020-01-25,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-26,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-27,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-28,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-29,3,3,0,7,0.0,0.0,0.0,1.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2021-10-05,8817,14,15615,135685,619.0,1062.0,5106.0,1386.0,686.0,5624.0,1007.0,0.0,0.0,199.0,30.0,10.0,3.0,377.0
620,2021-10-06,9380,13,13045,131981,426.0,1044.0,5338.0,1656.0,752.0,5877.0,1024.0,0.0,2.0,147.0,35.0,6.0,2.0,234.0
621,2021-10-07,9890,18,12884,128974,697.0,1147.0,5647.0,1731.0,766.0,6167.0,1164.0,0.0,0.0,240.0,111.0,41.0,5.0,300.0
622,2021-10-08,9751,15,12724,125999,382.0,1033.0,5687.0,1728.0,757.0,6033.0,1132.0,0.0,0.0,157.0,17.0,16.0,8.0,184.0
623,2021-10-09,8743,14,14422,120246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,271.0,105.0,42.0,0.0,203.0

In [6]:
# cluster columns are irrelevant, remove them
cases_malaysia.drop(columns=['cluster_import', 'cluster_religious', 'cluster_community', 'cluster_highRisk', 'cluster_education', 'cluster_detentionCentre', 'cluster_workplace'], inplace=True)
# other dates with a null value, just drop that row
cases_malaysia.fillna(0, inplace=True)
cases_malaysia.head()

,date,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020-01-26,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-27,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-28,0,0,0,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-29,3,3,0,7,0.0,0.0,0.0,1.0,0.0,2.0,0.0

### Cases State

In [7]:
cases_state

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,Johor,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020-01-25,Kedah,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-25,Kelantan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-25,Melaka,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9979,2021-10-09,Selangor,1351,2,2271,16168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9980,2021-10-09,Terengganu,590,0,1098,6641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9981,2021-10-09,W.P. Kuala Lumpur,288,5,297,3286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9982,2021-10-09,W.P. Labuan,1,0,1,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9983,2021-10-09,W.P. Putrajaya,23,0,40,436,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
cases_state.isna().sum()

date                 0
state                0
cases_new            0
cases_import         0
cases_recovered      0
cases_active         0
cases_cluster       16
cases_pvax          16
cases_fvax          16
cases_child         16
cases_adolescent    16
cases_adult         16
cases_elderly       16
dtype: int64

In [9]:
cases_state.drop_duplicates()

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,Johor,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020-01-25,Kedah,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-25,Kelantan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-25,Melaka,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9979,2021-10-09,Selangor,1351,2,2271,16168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9980,2021-10-09,Terengganu,590,0,1098,6641,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9981,2021-10-09,W.P. Kuala Lumpur,288,5,297,3286,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9982,2021-10-09,W.P. Labuan,1,0,1,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9983,2021-10-09,W.P. Putrajaya,23,0,40,436,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cases_state.fillna(0, inplace=True)

In [11]:
cases_state_pivoted = cases_state.pivot(index='date', columns='state', values='cases_new')
cases_state_pivoted.head()

state,Johor,Kedah,Kelantan,Melaka,Negeri Sembilan,Pahang,Perak,Perlis,Pulau Pinang,Sabah,Sarawak,Selangor,Terengganu,W.P. Kuala Lumpur,W.P. Labuan,W.P. Putrajaya
date,,,,,,,,,,,,,,,,
2020-01-25,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-26,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-01-29,2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### Clusters

In [12]:
clusters

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
0,Kluster Warga Jepun,WP Kuala Lumpur,Lembah Pantai,2020-03-01,2020-03-09,import,ended,0,3,0,267,0,0,3
1,Kluster UDA,"WP Kuala Lumpur, WP Putrajaya, Selangor, Neger...",Pelbagai,2020-03-04,2020-03-01,import,ended,0,144,0,1864,0,2,142
2,Kluster Keagamaan (Tabligh Sri Petaling),Semua Negeri,Pelbagai,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988
3,Kluster Tabligh New Delhi,"Selangor, Negeri Sembilan, WP Kuala Lumpur & W...",Pelbagai,2020-03-16,2020-03-20,import,ended,0,24,0,57,0,0,24
4,Kluster AIROD,Pahang,Kuantan,2020-03-31,2020-03-31,workplace,ended,0,65,0,734,0,0,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,Kluster Dah Taman Ihsan,Kedah,"Kulim, Kuala Muda, Baling",2021-10-07,2021-10-06,education,active,23,33,33,201,0,0,0
5556,Kluster Lubok Tapah,Kelantan,Pasir Mas,2021-10-07,2021-10-06,education,active,9,10,10,10,0,0,0
5557,Kluster Paya Sendayan,Pahang,Temerloh,2021-10-07,2021-10-06,community,active,5,17,17,23,0,0,0
5558,Kluster Kampung Pantos,Pahang,Lipis,2021-10-07,2021-10-06,community,active,1,17,17,144,0,0,0
5559,Kluster Jalan Terus,Johor,Mersing,2021-10-07,2021-10-06,community,active,12,13,13,35,0,0,0

In [13]:
 clusters.isna().sum()

cluster            0
state              0
district           0
date_announced     0
date_last_onset    0
category           0
status             0
cases_new          0
cases_total        0
cases_active       0
tests              0
icu                0
deaths             0
recovered          0
dtype: int64

In [14]:
clusters.drop_duplicates()

,cluster,state,district,date_announced,date_last_onset,category,status,cases_new,cases_total,cases_active,tests,icu,deaths,recovered
0,Kluster Warga Jepun,WP Kuala Lumpur,Lembah Pantai,2020-03-01,2020-03-09,import,ended,0,3,0,267,0,0,3
1,Kluster UDA,"WP Kuala Lumpur, WP Putrajaya, Selangor, Neger...",Pelbagai,2020-03-04,2020-03-01,import,ended,0,144,0,1864,0,2,142
2,Kluster Keagamaan (Tabligh Sri Petaling),Semua Negeri,Pelbagai,2020-03-13,2020-03-11,religious,ended,0,2022,0,42023,0,34,1988
3,Kluster Tabligh New Delhi,"Selangor, Negeri Sembilan, WP Kuala Lumpur & W...",Pelbagai,2020-03-16,2020-03-20,import,ended,0,24,0,57,0,0,24
4,Kluster AIROD,Pahang,Kuantan,2020-03-31,2020-03-31,workplace,ended,0,65,0,734,0,0,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5555,Kluster Dah Taman Ihsan,Kedah,"Kulim, Kuala Muda, Baling",2021-10-07,2021-10-06,education,active,23,33,33,201,0,0,0
5556,Kluster Lubok Tapah,Kelantan,Pasir Mas,2021-10-07,2021-10-06,education,active,9,10,10,10,0,0,0
5557,Kluster Paya Sendayan,Pahang,Temerloh,2021-10-07,2021-10-06,community,active,5,17,17,23,0,0,0
5558,Kluster Kampung Pantos,Pahang,Lipis,2021-10-07,2021-10-06,community,active,1,17,17,144,0,0,0
5559,Kluster Jalan Terus,Johor,Mersing,2021-10-07,2021-10-06,community,active,12,13,13,35,0,0,0

### Deaths Malaysia

In [15]:
deaths_malaysia

,date,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_pvax,deaths_fvax,deaths_tat
0,2020-03-17,2,0,2,0,0,0,0
1,2020-03-18,0,0,0,0,0,0,0
2,2020-03-19,0,0,0,0,0,0,0
3,2020-03-20,1,0,1,0,0,0,0
4,2020-03-21,4,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...
567,2021-10-05,117,16,88,19,10,42,3
568,2021-10-06,105,26,52,8,6,18,3
569,2021-10-07,132,26,38,5,5,14,3
570,2021-10-08,78,23,10,1,1,2,3
571,2021-10-09,74,27,0,0,0,0,3

In [16]:
 deaths_malaysia.isna().sum()

date              0
deaths_new        0
deaths_bid        0
deaths_new_dod    0
deaths_bid_dod    0
deaths_pvax       0
deaths_fvax       0
deaths_tat        0
dtype: int64

In [17]:
deaths_malaysia.drop_duplicates()

,date,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_pvax,deaths_fvax,deaths_tat
0,2020-03-17,2,0,2,0,0,0,0
1,2020-03-18,0,0,0,0,0,0,0
2,2020-03-19,0,0,0,0,0,0,0
3,2020-03-20,1,0,1,0,0,0,0
4,2020-03-21,4,0,4,0,0,0,0
...,...,...,...,...,...,...,...,...
567,2021-10-05,117,16,88,19,10,42,3
568,2021-10-06,105,26,52,8,6,18,3
569,2021-10-07,132,26,38,5,5,14,3
570,2021-10-08,78,23,10,1,1,2,3
571,2021-10-09,74,27,0,0,0,0,3

In [18]:
deaths_malaysia.drop(columns=['deaths_bid', 'deaths_new_dod', 'deaths_bid_dod', 'deaths_pvax', 'deaths_fvax', 'deaths_tat'], inplace=True)
deaths_malaysia.head()

         date  deaths_new
0  2020-03-17           2
1  2020-03-18           0
2  2020-03-19           0
3  2020-03-20           1
4  2020-03-21           4

### Deaths State

In [19]:
deaths_state

,date,state,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_pvax,deaths_fvax,deaths_tat
0,2020-03-17,Johor,1,0,1,0,0,0,0
1,2020-03-17,Kedah,0,0,0,0,0,0,0
2,2020-03-17,Kelantan,0,0,0,0,0,0,0
3,2020-03-17,Melaka,0,0,0,0,0,0,0
4,2020-03-17,Negeri Sembilan,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
9147,2021-10-09,Selangor,22,13,0,0,0,0,52
9148,2021-10-09,Terengganu,1,1,0,0,0,0,3
9149,2021-10-09,W.P. Kuala Lumpur,2,0,0,0,0,0,2
9150,2021-10-09,W.P. Labuan,0,0,0,0,0,0,0
9151,2021-10-09,W.P. Putrajaya,0,0,0,0,0,0,0

In [20]:
deaths_state.isna().sum()

date              0
state             0
deaths_new        0
deaths_bid        0
deaths_new_dod    0
deaths_bid_dod    0
deaths_pvax       0
deaths_fvax       0
deaths_tat        0
dtype: int64

In [21]:
deaths_state.drop_duplicates()

,date,state,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_pvax,deaths_fvax,deaths_tat
0,2020-03-17,Johor,1,0,1,0,0,0,0
1,2020-03-17,Kedah,0,0,0,0,0,0,0
2,2020-03-17,Kelantan,0,0,0,0,0,0,0
3,2020-03-17,Melaka,0,0,0,0,0,0,0
4,2020-03-17,Negeri Sembilan,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
9147,2021-10-09,Selangor,22,13,0,0,0,0,52
9148,2021-10-09,Terengganu,1,1,0,0,0,0,3
9149,2021-10-09,W.P. Kuala Lumpur,2,0,0,0,0,0,2
9150,2021-10-09,W.P. Labuan,0,0,0,0,0,0,0
9151,2021-10-09,W.P. Putrajaya,0,0,0,0,0,0,0

In [22]:
deaths_state_pivoted = deaths_state.pivot(index='date', columns='state', values='deaths_new')
deaths_state_pivoted.head()

state,Johor,Kedah,Kelantan,Melaka,Negeri Sembilan,Pahang,Perak,Perlis,Pulau Pinang,Sabah,Sarawak,Selangor,Terengganu,W.P. Kuala Lumpur,W.P. Labuan,W.P. Putrajaya
date,,,,,,,,,,,,,,,,
2020-03-17,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2020-03-18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2020-03-20,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
2020-03-21,0,0,1,1,0,0,0,0,0,0,1,0,0,1,0,0

### Hospital

In [23]:
hospital

,date,state,beds,beds_covid,beds_noncrit,admitted_pui,admitted_covid,admitted_total,discharged_pui,discharged_covid,discharged_total,hosp_covid,hosp_pui,hosp_noncovid
0,2020-03-24,Johor,1440,434,1408,0,0,0,0,0,0,18,9,1
1,2020-03-24,Kedah,1218,143,1183,0,0,0,0,0,0,46,5,12
2,2020-03-24,Kelantan,1463,280,1424,9,6,15,1,0,1,78,58,23
3,2020-03-24,Melaka,1091,82,1065,0,0,0,0,0,0,19,10,12
4,2020-03-24,Negeri Sembilan,1223,253,1205,0,0,0,0,0,0,90,13,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8622,2021-10-09,Selangor,5902,1967,5594,173,99,272,122,93,215,763,376,2527
8623,2021-10-09,Terengganu,1557,491,1493,18,24,42,4,22,26,223,47,955
8624,2021-10-09,W.P. Kuala Lumpur,3963,675,3837,0,27,27,5,16,21,240,28,1000
8625,2021-10-09,W.P. Labuan,122,106,99,0,0,0,0,0,0,5,2,71
8626,2021-10-09,W.P. Putrajaya,609,84,585,13,0,13,11,2,13,8,31,283

In [24]:
hospital.isna().sum()

date                0
state               0
beds                0
beds_covid          0
beds_noncrit        0
admitted_pui        0
admitted_covid      0
admitted_total      0
discharged_pui      0
discharged_covid    0
discharged_total    0
hosp_covid          0
hosp_pui            0
hosp_noncovid       0
dtype: int64

In [25]:
hospital.drop_duplicates()

,date,state,beds,beds_covid,beds_noncrit,admitted_pui,admitted_covid,admitted_total,discharged_pui,discharged_covid,discharged_total,hosp_covid,hosp_pui,hosp_noncovid
0,2020-03-24,Johor,1440,434,1408,0,0,0,0,0,0,18,9,1
1,2020-03-24,Kedah,1218,143,1183,0,0,0,0,0,0,46,5,12
2,2020-03-24,Kelantan,1463,280,1424,9,6,15,1,0,1,78,58,23
3,2020-03-24,Melaka,1091,82,1065,0,0,0,0,0,0,19,10,12
4,2020-03-24,Negeri Sembilan,1223,253,1205,0,0,0,0,0,0,90,13,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8622,2021-10-09,Selangor,5902,1967,5594,173,99,272,122,93,215,763,376,2527
8623,2021-10-09,Terengganu,1557,491,1493,18,24,42,4,22,26,223,47,955
8624,2021-10-09,W.P. Kuala Lumpur,3963,675,3837,0,27,27,5,16,21,240,28,1000
8625,2021-10-09,W.P. Labuan,122,106,99,0,0,0,0,0,0,5,2,71
8626,2021-10-09,W.P. Putrajaya,609,84,585,13,0,13,11,2,13,8,31,283

In [26]:
hospital.drop(columns=['beds', 'beds_noncrit', 'admitted_pui', 'admitted_total', 'discharged_pui', 'discharged_total','hosp_pui','hosp_noncovid'], inplace=True)
hospital.head()

,date,state,beds_covid,admitted_covid,discharged_covid,hosp_covid
0,2020-03-24,Johor,434,0,0,18
1,2020-03-24,Kedah,143,0,0,46
2,2020-03-24,Kelantan,280,6,0,78
3,2020-03-24,Melaka,82,0,0,19
4,2020-03-24,Negeri Sembilan,253,0,0,90

### ICU

In [27]:
icu

,date,state,beds_icu,beds_icu_rep,beds_icu_total,beds_icu_covid,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
0,2020-03-24,Johor,10,22,32,10,11,2,0,0,1,0,0,0,8,0
1,2020-03-24,Kedah,35,0,35,16,34,0,2,1,12,1,1,0,19,0
2,2020-03-24,Kelantan,39,0,39,20,42,4,1,0,20,1,0,0,26,0
3,2020-03-24,Melaka,26,0,26,12,23,4,0,2,12,0,1,0,13,5
4,2020-03-24,Negeri Sembilan,18,0,18,10,14,9,0,0,8,0,0,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8642,2021-10-09,Selangor,183,125,308,191,534,19,128,0,68,66,0,42,153,8
8643,2021-10-09,Terengganu,27,37,64,38,66,40,23,0,21,16,0,19,38,15
8644,2021-10-09,W.P. Kuala Lumpur,83,43,126,47,213,28,27,0,63,19,0,26,89,0
8645,2021-10-09,W.P. Labuan,5,18,23,18,15,0,0,0,2,0,0,1,1,0
8646,2021-10-09,W.P. Putrajaya,14,6,20,6,24,0,1,0,13,0,0,10,10,0

In [28]:
icu.isna().sum()

date              0
state             0
beds_icu          0
beds_icu_rep      0
beds_icu_total    0
beds_icu_covid    0
vent              0
vent_port         0
icu_covid         0
icu_pui           0
icu_noncovid      0
vent_covid        0
vent_pui          0
vent_noncovid     0
vent_used         0
vent_port_used    0
dtype: int64

In [29]:
icu.drop_duplicates()

,date,state,beds_icu,beds_icu_rep,beds_icu_total,beds_icu_covid,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
0,2020-03-24,Johor,10,22,32,10,11,2,0,0,1,0,0,0,8,0
1,2020-03-24,Kedah,35,0,35,16,34,0,2,1,12,1,1,0,19,0
2,2020-03-24,Kelantan,39,0,39,20,42,4,1,0,20,1,0,0,26,0
3,2020-03-24,Melaka,26,0,26,12,23,4,0,2,12,0,1,0,13,5
4,2020-03-24,Negeri Sembilan,18,0,18,10,14,9,0,0,8,0,0,0,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8642,2021-10-09,Selangor,183,125,308,191,534,19,128,0,68,66,0,42,153,8
8643,2021-10-09,Terengganu,27,37,64,38,66,40,23,0,21,16,0,19,38,15
8644,2021-10-09,W.P. Kuala Lumpur,83,43,126,47,213,28,27,0,63,19,0,26,89,0
8645,2021-10-09,W.P. Labuan,5,18,23,18,15,0,0,0,2,0,0,1,1,0
8646,2021-10-09,W.P. Putrajaya,14,6,20,6,24,0,1,0,13,0,0,10,10,0

In [30]:
icu.drop(columns=['beds_icu', 'beds_icu_rep', 'beds_icu_total', 'vent', 'vent_port', 'icu_pui','icu_noncovid','vent_pui','vent_noncovid','vent_used','vent_port_used'], inplace=True)
icu.head()

         date            state  beds_icu_covid  icu_covid  vent_covid
0  2020-03-24            Johor              10          0           0
1  2020-03-24            Kedah              16          2           1
2  2020-03-24         Kelantan              20          1           1
3  2020-03-24           Melaka              12          0           0
4  2020-03-24  Negeri Sembilan              10          0           0

### PKRC

In [31]:
pkrc

,date,state,beds,admitted_pui,admitted_covid,admitted_total,discharge_pui,discharge_covid,discharge_total,pkrc_covid,pkrc_pui,pkrc_noncovid
0,2020-03-28,Kelantan,147,0,0,0,0,0,0,0,53,0
1,2020-03-28,Perlis,54,0,0,0,0,0,0,8,3,0
2,2020-03-28,Pulau Pinang,58,0,0,0,0,0,0,13,0,0
3,2020-03-28,Sarawak,74,0,0,0,0,0,0,22,0,0
4,2020-03-28,Selangor,1452,0,12,12,0,5,5,145,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
6570,2021-10-09,Sabah,3804,11,206,217,5,173,178,1398,53,0
6571,2021-10-09,Sarawak,7140,17,52,69,1,64,65,2955,492,0
6572,2021-10-09,Selangor,3417,2,223,225,1,241,242,1623,19,0
6573,2021-10-09,Terengganu,2232,10,187,197,16,191,207,1297,55,0
6574,2021-10-09,W.P. Labuan,251,0,0,0,0,0,0,2,1,0

In [32]:
pkrc.isna().sum()

date               0
state              0
beds               0
admitted_pui       0
admitted_covid     0
admitted_total     0
discharge_pui      0
discharge_covid    0
discharge_total    0
pkrc_covid         0
pkrc_pui           0
pkrc_noncovid      0
dtype: int64

In [33]:
pkrc.drop_duplicates()

,date,state,beds,admitted_pui,admitted_covid,admitted_total,discharge_pui,discharge_covid,discharge_total,pkrc_covid,pkrc_pui,pkrc_noncovid
0,2020-03-28,Kelantan,147,0,0,0,0,0,0,0,53,0
1,2020-03-28,Perlis,54,0,0,0,0,0,0,8,3,0
2,2020-03-28,Pulau Pinang,58,0,0,0,0,0,0,13,0,0
3,2020-03-28,Sarawak,74,0,0,0,0,0,0,22,0,0
4,2020-03-28,Selangor,1452,0,12,12,0,5,5,145,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...
6570,2021-10-09,Sabah,3804,11,206,217,5,173,178,1398,53,0
6571,2021-10-09,Sarawak,7140,17,52,69,1,64,65,2955,492,0
6572,2021-10-09,Selangor,3417,2,223,225,1,241,242,1623,19,0
6573,2021-10-09,Terengganu,2232,10,187,197,16,191,207,1297,55,0
6574,2021-10-09,W.P. Labuan,251,0,0,0,0,0,0,2,1,0

In [34]:
pkrc.drop(columns=['beds', 'admitted_pui', 'admitted_total', 'discharge_pui', 'discharge_total', 'pkrc_pui','pkrc_noncovid'], inplace=True)
pkrc.head()

         date         state  admitted_covid  discharge_covid  pkrc_covid
0  2020-03-28      Kelantan               0                0           0
1  2020-03-28        Perlis               0                0           8
2  2020-03-28  Pulau Pinang               0                0          13
3  2020-03-28       Sarawak               0                0          22
4  2020-03-28      Selangor              12                5         145

### Test Malaysia

In [35]:
tests_malaysia

           date  rtk-ag    pcr
0    2020-01-24       0      2
1    2020-01-25       0      5
2    2020-01-26       0     14
3    2020-01-27       0     24
4    2020-01-28       0     53
..          ...     ...    ...
617  2021-10-02   67827  34369
618  2021-10-03   70297  27174
619  2021-10-04  141200  35180
620  2021-10-05  113545  44228
621  2021-10-06  110446  39793

[622 rows x 3 columns]

In [36]:
tests_malaysia.isna().sum()

date      0
rtk-ag    0
pcr       0
dtype: int64

In [37]:
tests_malaysia.drop_duplicates()

           date  rtk-ag    pcr
0    2020-01-24       0      2
1    2020-01-25       0      5
2    2020-01-26       0     14
3    2020-01-27       0     24
4    2020-01-28       0     53
..          ...     ...    ...
617  2021-10-02   67827  34369
618  2021-10-03   70297  27174
619  2021-10-04  141200  35180
620  2021-10-05  113545  44228
621  2021-10-06  110446  39793

[622 rows x 3 columns]

In [38]:
tests_malaysia['total_testing'] = tests_malaysia['rtk-ag'] + tests_malaysia['pcr']
tests_malaysia

           date  rtk-ag    pcr  total_testing
0    2020-01-24       0      2              2
1    2020-01-25       0      5              5
2    2020-01-26       0     14             14
3    2020-01-27       0     24             24
4    2020-01-28       0     53             53
..          ...     ...    ...            ...
617  2021-10-02   67827  34369         102196
618  2021-10-03   70297  27174          97471
619  2021-10-04  141200  35180         176380
620  2021-10-05  113545  44228         157773
621  2021-10-06  110446  39793         150239

[622 rows x 4 columns]

In [39]:
tests_malaysia.drop(columns=['rtk-ag', 'pcr'], inplace=True)
tests_malaysia.head()

         date  total_testing
0  2020-01-24              2
1  2020-01-25              5
2  2020-01-26             14
3  2020-01-27             24
4  2020-01-28             53

### Tests State

In [40]:
tests_state

            date              state  rtk-ag    pcr
0     2021-07-01              Johor    2749   3670
1     2021-07-01              Kedah    2073   1297
2     2021-07-01           Kelantan    1348   1966
3     2021-07-01             Melaka    1049   2132
4     2021-07-01    Negeri Sembilan    2151   3306
...          ...                ...     ...    ...
1563  2021-10-06           Selangor   31372  11197
1564  2021-10-06         Terengganu    2795   2325
1565  2021-10-06  W.P. Kuala Lumpur    8022   4643
1566  2021-10-06        W.P. Labuan     608    316
1567  2021-10-06     W.P. Putrajaya     343    194

[1568 rows x 4 columns]

In [41]:
tests_state.isna().sum()

date      0
state     0
rtk-ag    0
pcr       0
dtype: int64

In [42]:
tests_state.drop_duplicates()

            date              state  rtk-ag    pcr
0     2021-07-01              Johor    2749   3670
1     2021-07-01              Kedah    2073   1297
2     2021-07-01           Kelantan    1348   1966
3     2021-07-01             Melaka    1049   2132
4     2021-07-01    Negeri Sembilan    2151   3306
...          ...                ...     ...    ...
1563  2021-10-06           Selangor   31372  11197
1564  2021-10-06         Terengganu    2795   2325
1565  2021-10-06  W.P. Kuala Lumpur    8022   4643
1566  2021-10-06        W.P. Labuan     608    316
1567  2021-10-06     W.P. Putrajaya     343    194

[1568 rows x 4 columns]

In [43]:
tests_state['total_testing'] = tests_state['rtk-ag'] + tests_state['pcr']
tests_state

            date              state  rtk-ag    pcr  total_testing
0     2021-07-01              Johor    2749   3670           6419
1     2021-07-01              Kedah    2073   1297           3370
2     2021-07-01           Kelantan    1348   1966           3314
3     2021-07-01             Melaka    1049   2132           3181
4     2021-07-01    Negeri Sembilan    2151   3306           5457
...          ...                ...     ...    ...            ...
1563  2021-10-06           Selangor   31372  11197          42569
1564  2021-10-06         Terengganu    2795   2325           5120
1565  2021-10-06  W.P. Kuala Lumpur    8022   4643          12665
1566  2021-10-06        W.P. Labuan     608    316            924
1567  2021-10-06     W.P. Putrajaya     343    194            537

[1568 rows x 5 columns]

In [44]:
tests_state.drop(columns=['rtk-ag', 'pcr'], inplace=True)
tests_state.head()

         date            state  total_testing
0  2021-07-01            Johor           6419
1  2021-07-01            Kedah           3370
2  2021-07-01         Kelantan           3314
3  2021-07-01           Melaka           3181
4  2021-07-01  Negeri Sembilan           5457

### Vaccination Malaysia

In [45]:
vax_malaysia

,date,daily_partial,daily_full,daily,daily_partial_child,daily_full_child,cumul_partial,cumul_full,cumul,cumul_partial_child,cumul_full_child,pfizer1,pfizer2,sinovac1,sinovac2,astra1,astra2,cansino,pending
0,2021-02-24,60,0,60,0,0,60,0,60,0,0,60,0,0,0,0,0,0,0
1,2021-02-25,1146,0,1146,0,0,1206,0,1206,0,0,1146,0,0,0,0,0,0,0
2,2021-02-26,4115,1,4116,0,0,5321,1,5322,0,0,4115,1,0,0,0,0,0,0
3,2021-02-27,6723,1,6724,0,0,12044,2,12046,0,0,6723,1,0,0,0,0,0,0
4,2021-02-28,6699,3,6702,0,0,18743,5,18748,0,0,6699,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2021-10-05,122153,101881,224034,105150,6278,24085144,20819254,44797925,1967549,120402,119323,59655,2440,13395,130,26496,1828,767
224,2021-10-06,113441,96466,209907,97575,8750,24200366,20915720,45007832,2065124,129152,107812,60903,2253,9424,142,24004,1781,3588
225,2021-10-07,108092,88555,196647,91222,18786,24309648,21004275,45204479,2156346,147938,104546,54553,2651,7811,18,24482,1190,1396
226,2021-10-08,74199,100621,174820,61574,29091,24384831,21104896,45379299,2217920,177029,71029,66510,2833,8064,26,24147,984,1227
227,2021-10-09,39183,102714,141897,30947,27507,24424885,21207610,45521196,2248867,204536,36953,58630,1902,9673,93,33038,871,737

In [46]:
vax_malaysia.isna().sum()

date                   0
daily_partial          0
daily_full             0
daily                  0
daily_partial_child    0
daily_full_child       0
cumul_partial          0
cumul_full             0
cumul                  0
cumul_partial_child    0
cumul_full_child       0
pfizer1                0
pfizer2                0
sinovac1               0
sinovac2               0
astra1                 0
astra2                 0
cansino                0
pending                0
dtype: int64

In [47]:
vax_malaysia.drop_duplicates()

,date,daily_partial,daily_full,daily,daily_partial_child,daily_full_child,cumul_partial,cumul_full,cumul,cumul_partial_child,cumul_full_child,pfizer1,pfizer2,sinovac1,sinovac2,astra1,astra2,cansino,pending
0,2021-02-24,60,0,60,0,0,60,0,60,0,0,60,0,0,0,0,0,0,0
1,2021-02-25,1146,0,1146,0,0,1206,0,1206,0,0,1146,0,0,0,0,0,0,0
2,2021-02-26,4115,1,4116,0,0,5321,1,5322,0,0,4115,1,0,0,0,0,0,0
3,2021-02-27,6723,1,6724,0,0,12044,2,12046,0,0,6723,1,0,0,0,0,0,0
4,2021-02-28,6699,3,6702,0,0,18743,5,18748,0,0,6699,3,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,2021-10-05,122153,101881,224034,105150,6278,24085144,20819254,44797925,1967549,120402,119323,59655,2440,13395,130,26496,1828,767
224,2021-10-06,113441,96466,209907,97575,8750,24200366,20915720,45007832,2065124,129152,107812,60903,2253,9424,142,24004,1781,3588
225,2021-10-07,108092,88555,196647,91222,18786,24309648,21004275,45204479,2156346,147938,104546,54553,2651,7811,18,24482,1190,1396
226,2021-10-08,74199,100621,174820,61574,29091,24384831,21104896,45379299,2217920,177029,71029,66510,2833,8064,26,24147,984,1227
227,2021-10-09,39183,102714,141897,30947,27507,24424885,21207610,45521196,2248867,204536,36953,58630,1902,9673,93,33038,871,737

In [48]:
vax_malaysia.drop(columns=['daily_partial_child', 'daily_full_child','cumul_partial','cumul_full','cumul','cumul_partial_child','cumul_full_child','pfizer1','pfizer2','sinovac1','sinovac2','astra1','astra2','cansino','pending'], inplace=True)
vax_malaysia.head()

         date  daily_partial  daily_full  daily
0  2021-02-24             60           0     60
1  2021-02-25           1146           0   1146
2  2021-02-26           4115           1   4116
3  2021-02-27           6723           1   6724
4  2021-02-28           6699           3   6702

### Vaccination State

In [49]:
vax_state

,date,state,daily_partial,daily_full,daily,daily_partial_child,daily_full_child,cumul_partial,cumul_full,cumul,cumul_partial_child,cumul_full_child,pfizer1,pfizer2,sinovac1,sinovac2,astra1,astra2,cansino,pending
0,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Kedah,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Kelantan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Melaka,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Negeri Sembilan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,2021-10-09,Selangor,8166,3877,12043,7822,605,4443582,4044073,8484652,271548,6365,7854,1389,262,2465,0,0,0,73
3644,2021-10-09,Terengganu,3208,3711,6919,3171,64,849598,707453,1553134,107565,3492,3204,631,4,5,0,3054,0,21
3645,2021-10-09,W.P. Kuala Lumpur,4118,1119,5237,3557,280,2953223,2748617,5701501,124102,2602,3907,760,196,334,0,0,17,23
3646,2021-10-09,W.P. Labuan,23,414,437,9,380,80334,70175,150509,8048,2295,23,414,0,0,0,0,0,0
3647,2021-10-09,W.P. Putrajaya,12,0,12,12,0,140739,125751,266490,10919,49,12,0,0,0,0,0,0,0

In [50]:
vax_state.isna().sum()

date                   0
state                  0
daily_partial          0
daily_full             0
daily                  0
daily_partial_child    0
daily_full_child       0
cumul_partial          0
cumul_full             0
cumul                  0
cumul_partial_child    0
cumul_full_child       0
pfizer1                0
pfizer2                0
sinovac1               0
sinovac2               0
astra1                 0
astra2                 0
cansino                0
pending                0
dtype: int64

In [51]:
vax_state.drop_duplicates()

,date,state,daily_partial,daily_full,daily,daily_partial_child,daily_full_child,cumul_partial,cumul_full,cumul,cumul_partial_child,cumul_full_child,pfizer1,pfizer2,sinovac1,sinovac2,astra1,astra2,cansino,pending
0,2021-02-24,Johor,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2021-02-24,Kedah,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2021-02-24,Kelantan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2021-02-24,Melaka,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2021-02-24,Negeri Sembilan,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,2021-10-09,Selangor,8166,3877,12043,7822,605,4443582,4044073,8484652,271548,6365,7854,1389,262,2465,0,0,0,73
3644,2021-10-09,Terengganu,3208,3711,6919,3171,64,849598,707453,1553134,107565,3492,3204,631,4,5,0,3054,0,21
3645,2021-10-09,W.P. Kuala Lumpur,4118,1119,5237,3557,280,2953223,2748617,5701501,124102,2602,3907,760,196,334,0,0,17,23
3646,2021-10-09,W.P. Labuan,23,414,437,9,380,80334,70175,150509,8048,2295,23,414,0,0,0,0,0,0
3647,2021-10-09,W.P. Putrajaya,12,0,12,12,0,140739,125751,266490,10919,49,12,0,0,0,0,0,0,0

In [52]:
vax_state.drop(columns=['daily_partial_child', 'daily_full_child','cumul_partial','cumul_full','cumul','cumul_partial_child','cumul_full_child','pfizer1','pfizer2','sinovac1','sinovac2','astra1','astra2','cansino','pending'], inplace=True)
vax_state.head()

         date            state  daily_partial  daily_full  daily
0  2021-02-24            Johor              0           0      0
1  2021-02-24            Kedah              0           0      0
2  2021-02-24         Kelantan              0           0      0
3  2021-02-24           Melaka              0           0      0
4  2021-02-24  Negeri Sembilan              0           0      0

### Vaccination Registration Malaysia

In [53]:
vaxreg_malaysia

,date,state,total,phase2,mysj,call,web,children,elderly,comorb,oku
0,2021-06-24,Malaysia,16191488,5219793,14910368,10668,1270452,776980,2787690,3938517,298917
1,2021-06-25,Malaysia,16321185,5253580,15031571,10779,1278835,797921,2802744,3964444,301849
2,2021-06-26,Malaysia,16431724,5282795,15136062,10892,1284770,815984,2815665,3986607,304571
3,2021-06-27,Malaysia,16515196,5304420,15231554,10808,1272834,830643,2824735,4003420,306740
4,2021-06-28,Malaysia,16630764,5333905,15335726,10933,1284105,842985,2835474,4027560,309623
...,...,...,...,...,...,...,...,...,...,...,...
103,2021-10-05,Malaysia,24851384,6796961,23682880,11184,1157320,2697790,3344117,5024737,594742
104,2021-10-06,Malaysia,24877367,6799458,23710215,11184,1155968,2712727,3345130,5025784,595494
105,2021-10-07,Malaysia,24901861,6801762,23736000,11183,1154678,2726989,3346122,5026690,596224
106,2021-10-08,Malaysia,24923366,6803852,23758470,11179,1153717,2738201,3347059,5027390,596911
107,2021-10-09,Malaysia,24942611,6805643,23778642,11169,1152800,2748320,3347954,5027911,597431

In [54]:
vaxreg_malaysia.isna().sum()

date        0
state       0
total       0
phase2      0
mysj        0
call        0
web         0
children    0
elderly     0
comorb      0
oku         0
dtype: int64

In [55]:
vaxreg_malaysia.drop_duplicates()

,date,state,total,phase2,mysj,call,web,children,elderly,comorb,oku
0,2021-06-24,Malaysia,16191488,5219793,14910368,10668,1270452,776980,2787690,3938517,298917
1,2021-06-25,Malaysia,16321185,5253580,15031571,10779,1278835,797921,2802744,3964444,301849
2,2021-06-26,Malaysia,16431724,5282795,15136062,10892,1284770,815984,2815665,3986607,304571
3,2021-06-27,Malaysia,16515196,5304420,15231554,10808,1272834,830643,2824735,4003420,306740
4,2021-06-28,Malaysia,16630764,5333905,15335726,10933,1284105,842985,2835474,4027560,309623
...,...,...,...,...,...,...,...,...,...,...,...
103,2021-10-05,Malaysia,24851384,6796961,23682880,11184,1157320,2697790,3344117,5024737,594742
104,2021-10-06,Malaysia,24877367,6799458,23710215,11184,1155968,2712727,3345130,5025784,595494
105,2021-10-07,Malaysia,24901861,6801762,23736000,11183,1154678,2726989,3346122,5026690,596224
106,2021-10-08,Malaysia,24923366,6803852,23758470,11179,1153717,2738201,3347059,5027390,596911
107,2021-10-09,Malaysia,24942611,6805643,23778642,11169,1152800,2748320,3347954,5027911,597431

In [56]:
vaxreg_malaysia.drop(columns=['phase2', 'mysj','call','web','children','elderly','comorb','oku'], inplace=True)
vaxreg_malaysia.head()

         date     state     total
0  2021-06-24  Malaysia  16191488
1  2021-06-25  Malaysia  16321185
2  2021-06-26  Malaysia  16431724
3  2021-06-27  Malaysia  16515196
4  2021-06-28  Malaysia  16630764

### Vaccination Registration State

In [57]:
vaxreg_state

,date,state,total,phase2,mysj,call,web,children,elderly,comorb,oku
0,2021-06-24,Johor,2024149,657731,1880609,1167,142373,94096,373226,477510,39807
1,2021-06-24,Kedah,938187,340264,850376,855,86956,39636,181729,264154,20150
2,2021-06-24,Kelantan,621203,223260,527284,426,93493,26305,119608,173570,12921
3,2021-06-24,Melaka,510641,179964,484164,436,26041,25638,98045,138618,13547
4,2021-06-24,Negeri Sembilan,633026,229995,591847,592,40587,32396,125029,179280,13902
...,...,...,...,...,...,...,...,...,...,...,...
1723,2021-10-09,Selangor,5733051,1385072,5632391,2352,98308,568188,617608,1035266,135030
1724,2021-10-09,Terengganu,838980,225469,781278,328,57374,125045,100697,175576,20720
1725,2021-10-09,W.P. Kuala Lumpur,2138672,523943,2101398,1134,36140,166581,258522,372090,51047
1726,2021-10-09,W.P. Labuan,72945,18576,67958,16,4971,8754,6741,14683,1392
1727,2021-10-09,W.P. Putrajaya,103601,24262,102187,37,1377,14761,5198,21290,2025

In [58]:
vaxreg_state.isna().sum()

date        0
state       0
total       0
phase2      0
mysj        0
call        0
web         0
children    0
elderly     0
comorb      0
oku         0
dtype: int64

In [59]:
vaxreg_state.drop_duplicates()

,date,state,total,phase2,mysj,call,web,children,elderly,comorb,oku
0,2021-06-24,Johor,2024149,657731,1880609,1167,142373,94096,373226,477510,39807
1,2021-06-24,Kedah,938187,340264,850376,855,86956,39636,181729,264154,20150
2,2021-06-24,Kelantan,621203,223260,527284,426,93493,26305,119608,173570,12921
3,2021-06-24,Melaka,510641,179964,484164,436,26041,25638,98045,138618,13547
4,2021-06-24,Negeri Sembilan,633026,229995,591847,592,40587,32396,125029,179280,13902
...,...,...,...,...,...,...,...,...,...,...,...
1723,2021-10-09,Selangor,5733051,1385072,5632391,2352,98308,568188,617608,1035266,135030
1724,2021-10-09,Terengganu,838980,225469,781278,328,57374,125045,100697,175576,20720
1725,2021-10-09,W.P. Kuala Lumpur,2138672,523943,2101398,1134,36140,166581,258522,372090,51047
1726,2021-10-09,W.P. Labuan,72945,18576,67958,16,4971,8754,6741,14683,1392
1727,2021-10-09,W.P. Putrajaya,103601,24262,102187,37,1377,14761,5198,21290,2025

In [60]:
vaxreg_state.drop(columns=['phase2', 'mysj','call','web','children','elderly','comorb','oku'], inplace=True)
vaxreg_state.head()

         date            state    total
0  2021-06-24            Johor  2024149
1  2021-06-24            Kedah   938187
2  2021-06-24         Kelantan   621203
3  2021-06-24           Melaka   510641
4  2021-06-24  Negeri Sembilan   633026

### Population

In [61]:
population

                state  idxs       pop    pop_18   pop_60
0            Malaysia     0  32657400  23409600  3502000
1               Johor     1   3781000   2711900   428700
2               Kedah     2   2185100   1540600   272500
3            Kelantan     3   1906700   1236200   194100
4              Melaka     4    932700    677400   118500
5     Negeri Sembilan     5   1128800    814400   145000
6              Pahang     6   1678700   1175800   190200
7        Pulau Pinang     7   1773600   1367200   239200
8               Perak     8   2510300   1862700   397300
9              Perlis     9    254900    181200    35100
10           Selangor    10   6538000   4747900   575800
11         Terengganu    11   1259300    808400   115200
12              Sabah    12   3908500   2758400   238900
13            Sarawak    13   2816500   2042700   332800
14  W.P. Kuala Lumpur    14   1773700   1348600   205800
15        W.P. Labuan    15     99600     68500     7900
16     W.P. Putrajaya    16    110000     67700     5000

In [62]:
population.drop(columns=['pop_18', 'pop_60'], inplace=True)
population.head()

      state  idxs       pop
0  Malaysia     0  32657400
1     Johor     1   3781000
2     Kedah     2   2185100
3  Kelantan     3   1906700
4    Melaka     4    932700